.tela-inicio {
  height: 100vh;
  width: 100vw;
  background: linear-gradient(135deg, #533f2b, #ac42af);
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  color: white;
  animation: fadeIn 1s ease-in-out;
}

.card-inicio {
  background: #ffffffd8;
  color: #333;
  border-radius: 20px;
  padding: 3rem 2rem;
  box-shadow: 0 10px 25px rgba(0, 0, 0, 0.3);
  max-width: 500px;
  width: 90%;
}

.logo-inicio {
  width: 100px;
  margin-bottom: 1rem;
  animation: flutuar 3s ease-in-out infinite;
}

.botao-inicio {
  margin-top: 1.5rem;
  background: #4a90e2;
  color: white;
  border: none;
  border-radius: 12px;
  padding: 0.8rem 1.6rem;
  font-size: 1.1rem;
  cursor: pointer;
  transition: 0.3s;
}

.botao-inicio:hover {
  background: linear-gradient(135deg, #533f2b, #ac42af);
  transform: scale(1.05);
}

.footer-inicio {
  position: absolute;
  bottom: 15px;
  text-align: center;
  font-size: 0.9rem;
  color: #ddd;
}

.tela-inicio {
  animation: fadeInTela 1s ease-in-out;
}

@keyframes fadeInTela {
  from { opacity: 0; transform: translateY(15px); }
  to { opacity: 1; transform: translateY(0); }
}


@keyframes flutuar {
  0%, 100% { transform: translateY(0); }
  50% { transform: translateY(-10px); }
}

@keyframes fadeIn {
  from { opacity: 0; transform: translateY(20px); }
  to { opacity: 1; transform: translateY(0); }
}
